#login-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#panel-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 11px;
}

#btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


